@import "tailwindcss";

body {
  background-color: #040617;
  background-image: url("/hero-backdrop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

@media (min-width: 1145px) {
  .cards\:flex-row {
    flex-direction: row;
  }
  .cards\:bg-red-500 {
    background-color: #ef4444;
  }
}
